## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [1]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [9]:
# 결측치 만들기 ( NaN, nan)
# df.iloc[1][1] = np.NaN #앞으로 사라질지도 모르는 warning이 뜸 
df.loc['B',1] = np.nan
df

df.loc['B':,2] = np.nan #B부터 시작하고 2열에 해당하는 애들을 끝까지 별칭으로 만듬
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [11]:
# 누적합을 구할 때
df.cumsum()

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  2.0  NaN  NaN  2.0
C  3.0  2.0  NaN  3.0
D  4.0  3.0  NaN  4.0

In [15]:
# df.isnull() #null값인 애들만 true
df.isnull().sum()

0    0
1    1
2    3
3    0
dtype: int64

In [21]:
df.isnull().count()

0    4
1    4
2    4
3    4
dtype: int64

In [19]:
df.dropna()

     0    1    2    3
A  1.0  1.0  1.0  1.0

In [35]:
df.fillna(0)  #결측치 0으로 채움

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  0.0  0.0  1.0
C  1.0  1.0  0.0  1.0
D  1.0  1.0  0.0  1.0

In [37]:
df.fillna('null')

     0     1     2    3
A  1.0   1.0   1.0  1.0
B  1.0  null  null  1.0
C  1.0   1.0  null  1.0
D  1.0   1.0  null  1.0

In [39]:
df.fillna({1:'None', 2:-100}) #특정 '열' 별로 결측치를 처리해줄수있음

     0     1      2    3
A  1.0   1.0    1.0  1.0
B  1.0  None -100.0  1.0
C  1.0   1.0 -100.0  1.0
D  1.0   1.0 -100.0  1.0